@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  z-index: -1;
  background-color: #22223b;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: transitionIn 2.3s;
}

h1 {
  background: -webkit-linear-gradient(white, #4a4e69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -20%;
  position: absolute;
  font-size: 7em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
}

.box {
  position: absolute;
  height: 1px;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}
li {
  cursor: pointer;
  color: #9a8c98;
  margin: 2.5vw;
  list-style-type: none;
  font-size: 2.3em;
  transition-duration: 0.2s;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

li:hover {
  transform: translateY(-6px);
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
