@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  background-color: #22223b;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
section {
  display: flex;
  justify-content: center;
}
input {
  position: relative;
  opacity: 0;
  animation: appear 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  top: -80vh;
  height: 40px;
  width: 50%;
  border-radius: 30px;
  background-color: #4a4e69;
  margin-bottom: 0px;
}
#search {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

::placeholder {
  color: #9a8c98;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  animation: disappear 1s;
  animation-fill-mode: forwards;
  margin-top: -20%;
  margin-right: 20px;
  position: absolute;
  color: #f2e9e4;
  font-size: 7em;
}

.box {
  margin-top: 10vh;
  animation: slider 2.3s;
  animation-fill-mode: forwards;
  position: absolute;
  height: 1px;
  display: flex;
  align-items: center;
  margin-right: 80px;
}

ul {
  display: flex;
  justify-content: center;

}
li {
  color: #9a8c98;
  margin: 2.5vw;
  list-style-type: none;
  font-size: 2.3em;
  cursor: pointer;
  transition-duration: 0.2s;
}

li:hover {
  transform: translateY(-6px);
}

.user-cards {
  width: 100vw;
  opacity: 0;
  animation: appear 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -70vh;
}

a {
  margin: 15px;
  text-decoration: none;
}

p {
  color: #f2e9e4;
  font-size: 1vw;
  margin-top: 5px;
}

img {
  border-radius: 10%;
  width: 12vw;
  transition-duration: 0.3s;
}

img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.cardname {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
