@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  z-index: -1;
  background-color: #22223b;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: transitionIn 2.3s;
  cursor: none;
}

h1 {
  margin-top: -20%;
  position: absolute;
  color: #f2e9e4;
  font-size: 7em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.box {
  position: absolute;
  height: 1px;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}
li {
  color: #9a8c98;
  margin: 2.5vw;
  list-style-type: none;
  font-size: 2.3em;
  transition-duration: 0.2s;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

li:hover {
  cursor: none;        
  transform: translateY(-6px);
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
.cursor {
  z-index: 100;
}
.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  size: 8px;
  width: 8px;
  height: 8px;
  background-color: #C9ADA7;
}

.cursor-dot-outline {
  size: 40px;
  width: 40px;
  height: 40px;
  background-color: #9A8C98;
}
