@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow-x: hidden;
  cursor: none;
}
section {
  display: flex;
  justify-content: center;
}
input {
  position: relative;
  opacity: 0;
  animation: appear 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  top: -80vh;
  height: 40px;
  width: 50%;
  border-radius: 30px;
}
#search {
  cursor:none;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  height: 48px;
  width: 50%;
  background: none;
  padding: 0px 17px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  outline: none;
  color: #fff;
}

::placeholder {
  color: #9a8c98;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  background: -webkit-linear-gradient(white, #4a4e69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: disappear 0.9s;
  animation-fill-mode: forwards;
  margin-top: -20%;
  margin-right: 20px;
  position: absolute;
  font-size: 7em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
}

.box {
  margin-top: 10vh;
  animation: slider 1s ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
  height: 1px;
  display: flex;
  align-items: center;
  margin-right: 80px;
}

ul {
  display: flex;
  justify-content: center;
}
li {
  color: #9a8c98;
  margin: 2.5vw;
  list-style-type: none;
  font-size: 2.3em;
  transition-duration: 0.2s;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

li:hover {
  transform: translateY(-6px);
}

.user-cards {
  width: 100vw;
  opacity: 0;
  animation: appear 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -70vh;
}

a {
  cursor: none;
  margin: 15px;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

p {
  color: #f2e9e4;
  font-size: 1vw;
  margin-top: 5px;
}

img {
  cursor: none;
  border-radius: 10%;
  width: 12vw;
  transition-duration: 0.3s;
}

img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.cardname {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  z-index: 1;
  size: 8px;
  width: 8px;
  height: 8px;
  background-color: #C9ADA7;
}

.cursor-dot-outline {
  z-index: 1;
  size: 40px;
  width: 40px;
  height: 40px;
  background-color: #9A8C98;
}
