@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);


  }
}
@keyframes ghostin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes navloader {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slider {
  from {
    transform: translateY(40vh);
  }

  to {
    transform: translateY(-20vh);
    transform: scale(1.2);
  }

}
@keyframes sliderdown {
  from {
    transform: translateY(0vh);

  }

  to {
    transform: translateY(10vh);

  }

}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
