
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body,
html {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; /* Ensure scrolling is enabled */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  height: 500vh;


}
body::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Opera */
}
.nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  background: -webkit-linear-gradient(white, #4a4e69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: disappear 0.5s;
  animation-fill-mode: forwards;
  margin-top: -20%;
  margin-right: 20px;
  position: absolute;
  font-size: 1vw;
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
}

.box {
  margin-top: 10vh;
  animation: slider 1s ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
  height: 1px;
  display: flex;
  align-items: center;
  margin-right: 80px;
}

ul {
  display: flex;
  justify-content: center;
}
li {
  cursor: pointer;
  color: #9a8c98;
  margin: 2.5vw;
  list-style-type: none;
  font-size: 2.3em;
  transition-duration: 0.2s;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

li:hover {
  transform: translateY(-6px);
}
.main-div {
  margin-top: -80vh;
  width: 100vw;
  height: 100vh;
  margin-left: 7.5vw;
}

#search {
  opacity: 0;
  animation: appear 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  margin-left: 16vw;
  animation-fill-mode: forwards;
  height: 40px;
  width: 50%;
  border-radius: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  height: 48px;
  width: 50%;
  background: none;
  padding: 0px 17px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  outline: none;
  color: #fff;
}

.games {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: -85vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.game {
  opacity: 0;
  animation: appear 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 5vh;
  width: 250px; /* Adjust the width as necessary */
  display: flex; /* Ensure the display property is set correctly */
  flex-direction: column; /* Stack the image and title vertically */
}
.game:hover {
  box-shadow: 0 0 30px rgba(105, 11, 255, 0.5);
  transform: scale(1.1);
}


.game img {
  margin: 0px;
  padding: 0px;
  width: 100%; /* Ensure the image takes the full width of the container */
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

.game h3 {
  font-size: 1.5em;
  padding: 0.25vw;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
