body,
html {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow-x: hidden;
  overflow-y: scroll; /* Ensure scrolling is enabled */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  height: auto;
}
body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.alertBox {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.alertContent {
  background-color: #fefefe;
  margin: auto;
  padding: 40px; /* Increased padding for a larger box */
  border: 1px solid #888;
  width: 90%; /* Increased width */
  max-width: 800px; /* Increased maximum width */
  text-align: center;
  color: #411d3b;
  font-size: 2.3em;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main-div {
  z-index: 10;
  margin-top: -90vh;
  width: 100vw;
  height: 100vh;
  margin-left: 7.5vw;
}

#search {
  opacity: 0;
  animation: appear 1s;
  animation-fill-mode: forwards;
  margin-left: 7vw;
  animation-fill-mode: forwards;
  padding: 0px 17px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
  width: 70%;
  background: none;
  outline: none;
  color: #fff;
}
.games {
  overflow: hidden;
  padding-left: 8vw;
  padding-right: 7vw;
  margin-top: -85vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3vw;
}

.game {
  opacity: 0;
  animation: appear 0.4s;
  animation-fill-mode: forwards;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 18%;
  display: flex;
  flex-direction: column;
}
.game:hover {
  transform: scale(1.05);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.game img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 3px;
}
.card img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.game h3 {
  z-index: 1;
  margin-top: -3.5vh;
  font-size: 140%;
  padding: 0.25vw;
  font-family: "Outfit", serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  opacity: 0;
  transition-duration: 0.3s;
}
.game:hover h3 {
  opacity: 1;
}
.game:hover img {
  filter: brightness(0.6);
}
