@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.container {
  z-index: 100000;
  --font-level: 8;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  mask: linear-gradient(
    #0000 0.25lh,
    #fff calc(50% - 0.5lh) calc(50% + 0.5lh),
    #0000 calc(100% - 0.25lh)
  );
  color: color-mix(in lch, canvasText, canvas 15%);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  display: inline-grid;
  flex-direction: column;
  position: relative;
  padding-inline: 0.25em;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

li {
  color: #292a33;
  display: inline-block;
  width: fit-content;
  grid-area: 1 / 1;
  line-height: 1.6;
  font-size: 16vw;
  opacity: 0.6;
  cursor: pointer;
}
li:hover {
  color: #54576a;
}

@media only screen and (min-width: 900px) {
  .container {
    display: block;
  }
}


@media only screen and (max-width: 900px) {
  .container {
    display: none;
  }
}
