
body {
  z-index: -1;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  opacity: 0;
  z-index: 10000000;
  background: -webkit-linear-gradient(white, #4a4e69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  font-size: 10vw;
  font-family: "IBM Plex Sans",  serif;
  font-weight: 300;
  left: 35vw;
  animation: transitionIn 0.7s ease-out forwards;
}
img {
  opacity: 0;
  position: absolute;
  top: 90vh;
  width: 100vw;
}
@media (min-width: 430px) {
  img {
    opacity: 1;
  }
}

@media (max-width: 430px) {
  img {
    opacity: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
li {
  list-style: none;
}
