.navbar {
  z-index: 1000000;
  font-family: "Space Grotesk", serif;
  font-weight: 500;
  position: fixed;
  left: -2rem;
  border-radius: 10px;
  padding: 4rem 0;
  width: auto;
}
.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 5.5rem;
  color: #6a778e;
  transition: 250ms ease all;
}
.navbar__link span {
  position: absolute;
  left: 80%;
  transform: translate(-3rem);
  opacity: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(white, #4a4e69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.75rem;
  transition: 250ms ease all;
  border-radius: 17.5px;
  font-size: 1vw;
}
.navbar:not(:hover) .navbar__link:focus span,
.navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
}
.navbar__item {
  margin: 3vh;
}
ion-icon {
  font-size: 2.1vw;
  color: #c4c8e6;
}
.one {
  opacity: 0;
  animation: navloader 0.5s ease-out forwards;
}
.two {
  opacity: 0;
  animation: navloader 0.5s 0.2s ease-out forwards;
}
.three {
  opacity: 0;
  animation: navloader 0.5s 0.4s ease-out forwards;
}
.four {
  opacity: 0;
  animation: navloader 0.5s 0.6s ease-out forwards;
}
.five {
  opacity: 0;
  animation: navloader 0.5s 0.8s ease-out forwards;
}
.six {
  opacity: 0;
  animation: navloader 0.5s 1s ease-out forwards;
}
