body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.container {
  text-align: center;
}

.loadingthing {
  z-index: 1000000;
  margin-top: 20vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  z-index: 1000000;

  width: 40px;
  height: 40px;
  background: #3498db;
  border-radius: 50%;
  margin: 10px;
  animation: animationthingy 0.5s ease infinite alternate;
}

.dot1 {
  animation-delay: 0.1s;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.3s;
}

@keyframes animationthingy {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}
h1 {
  position: relative;
  margin: 0px;
  font-size: 15vh;
  background: -webkit-linear-gradient(white, #4a4e69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  animation: sliderdown 1s ease-in-out;
  animation-fill-mode: forwards;
  
}
.box {
  position: absolute;
  animation: slider 0.8s ease-in-out;
  animation-fill-mode: forwards;
}
ul {
  z-index: 1000000;
  display: flex;
  justify-content: center;
  margin-right: 45px;
}
li {
  z-index: 1000000;
  cursor: pointer;
  color: #9a8c98;
  margin: 30px;
  list-style-type: none;
  font-size: 2.3em;
  transition-duration: 0.2s;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
}

li:hover {
  transform: translateY(-6px);
  color: #f2e9e4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.form {
  margin-top: 8%;
}
.input, button{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;  
  z-index: 100000;
  height: 48px;
  padding: 0px 17px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  outline: none;
  background: none;
  color: white;
}
.input {
  width: 50%;
  border-right: 0px ;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-image: url('../../img/search.png');
  background-size: 30px;
  background-position: 5px 8px; 
  background-repeat: no-repeat;
  padding-left: 40px; 
}
button {
  border-left: 0px ;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  cursor: pointer;
  background-color: rgba(89, 89, 129, 0.432); 
}
.nav {
  display: flex;
  z-index: 1000000000;
  background-color: #030e1a;
  width: 100vw;
  flex-grow: 1;

}
.left {
  margin-top: 12px;
  display: flex;
  float: left;
}
.right {
  margin-top: 12px;
  display: flex;

  float: right;
}
.center{
  margin-top: 12px;
  width: 100%;
  height: 25px;

}
.searchbar {
  width: 99%;
  height: 18px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 100000;
  border: 1px solid rgb(255, 255, 255, 0.2);
  outline: none;
  background: none;
  color: white;

}
.navbtn {
  z-index: 1000000;
  cursor: pointer;
  color: #9a8c98;
  list-style-type: none;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
}
ion-icon {
  font-size: 30px;
  color: #c4c8e6;
  margin: 0px;
  transition-duration: 0.3s;
}
ion-icon:hover {
  color: #9295aa;
}

#frame {
  z-index: 1000000;
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 96vh;
  border-radius: 0;
}
.search{
  flex-grow: 1;
}
.loading {
  z-index: 1000000;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading {
  z-index: 1000000;
  background: -webkit-linear-gradient(white, #4a4e69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Noto Sans", sans-serif;
  font-weight: 150;
  font-size: 15vh;
}
#loadingMessage {
  position: fixed;
  top: 4vh;
  left: 10px;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
}
.games {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 7vw;
  padding-right: 7vw;
  gap: 3vw;
}

.game {
  opacity: 0;
  animation: appear 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.game img {
  width: 100%
}

.game:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.normal {
  border: 1px solid 4a4e69;
  margin: 0px;
  padding: 0px;
  max-width: 20vh;
  object-fit: contain;
  border-radius: 10px;

}
@media only screen and (max-width: 1000px) {
  h1, .game {
    display: none;

  }
}

@media only screen and (max-width: 600px) {
  h1, .game{
    display: none;
  }
}