@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px; /* Space between cards */
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 38vh;
  height: 25vh;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.card p {
  font-size: 4vh;
}
.cursor {
  z-index: 1000;
  background-color: var(--color-primary);
  opacity: 0;
  pointer-events: none;
  color: var(--color-light);
  border-radius: 0.25em;
  padding: 0.3em 0.75em 0.4em;
  font-size: 1.15em;
  line-height: 1.5;
  transition: opacity 0.2s;
  position: fixed;
  inset: 0% auto auto 0%;
}

.cursor p {
  margin: 0px;
}

body:has([data-cursor]:hover) .cursor {
  opacity: 1;
}
p {
  color: rgb(159, 157, 157);
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
}
